body {
  margin:0;
  font-family: Arial;
  background:#f5f7fa;
}

.container {
  display:flex;
  height:100vh;
}

.sidebar {
  width:250px;
  background:white;
  padding:20px;
  box-shadow:2px 0 10px #ccc;
  text-align:center;
}

.profile-pic {
  width:120px;
  height:120px;
  border-radius:50%;
  object-fit:cover;
  border:3px solid #2563eb;
  margin-bottom:10px;
}

.sidebar button {
  width:100%;
  padding:10px;
  margin:5px 0;
  border:none;
  background:#e6edff;
  cursor:pointer;
}

.sidebar button:hover {
  background:#cfd9ff;
}

.download {
  display:block;
  margin-top:20px;
  background:#2563eb;
  color:white;
  padding:10px;
  text-align:center;
  text-decoration:none;
  border-radius:5px;
}

.content {
  flex:1;
  padding:30px;
}

.profile-main {
  background:white;
  padding:15px;
  border-radius:10px;
  box-shadow:0 2px 8px #ddd;
  margin-bottom:20px;
}

.section {
  display:none;
  background:white;
  padding:15px;
  border-radius:10px;
  box-shadow:0 2px 8px #ddd;
}

.active {
  display:block;
}
